{% extends 'base.html' %}
{% block content %}
    <div class="page-header">
        <h2>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h2>
        <span>
            by {% for user in post.authors.all %}{{ user.display_name }}{% empty %}nobody{% endfor %}
            {% if not post.published %}
                <span class="label label-warning"><i class="fa fa-unlock"></i> Unpublished</span>
            {% endif %}
        </span>
    </div>
    <p>{{ post.content }}</p>
    {% if post.tags.all %}
    <div class="panel panel-default">
        <div class="panel-body">
            <i class="fa fa-tags"></i>
            {% for tag in post.tags.all %}
            <a class="label label-primary" href="{% url 'blog:tag-view' tag.title %}">
                {{ tag.title }}
            </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}
